<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246165509981-r5bdvhs7s9ljfgaokdfv7gvg826aprj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246165509981-r5bdvhs7s9ljfgaokdfv7gvg826aprj1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>246165509981-d21ohspuok39pe7kvff3egnlofs6ncej.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUx-bfzvYXmzTItGVm4nhhmbqUYhUcEcw</string>
	<key>GCM_SENDER_ID</key>
	<string>246165509981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseEx</string>
	<key>PROJECT_ID</key>
	<string>udemyegitim-7463c</string>
	<key>STORAGE_BUCKET</key>
	<string>udemyegitim-7463c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246165509981:ios:8f987b7393ba0e33b5fab4</string>
	<key>DATABASE_URL</key>
	<string>https://udemyegitim-7463c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>